.checkbox {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;

  .checkboxIcon {
    padding: 3px;
    background-color: $clr-white;
    border: 1px solid $ui-border-strong;
    border-radius: 8px;
    transition: $ui-transition;

    .icon {
      width: 16px;
      height: 16px;
      color: transparent;
    }
  }

  .checkboxLabel {
    color: $ui-text-main;
    font-size: 14px;
    margin-left: 8px;
  }

  &:focus-within .checkboxIcon {
    border-color: $clr-secondary;
    box-shadow: 0 0 0 3px rgba($clr-secondary, 0.1);
  }

  // checked
  &.checked {
    .checkboxIcon {
      background-color: $clr-primary;
      border-color: $clr-primary;

      .icon {
        color: $clr-white;
      }
    }
  }

  // disabled
  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;

    .checkboxIcon {
      background-color: $clr-gray-100;
      border-color: $clr-gray-300;
    }
  }
}
