.sidebar {
  background-color: $clr-white;
}

.menuBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 8px 16px;
  border-left: 3px solid transparent;
  color: $clr-gray-800;
  transition: $ui-transition;

  &:not(.isCurrent):hover {
    background-color: $clr-gray-100;
  }
}

.isCurrent {
  color: $clr-primary;
  background-color: $clr-primary-light;
  border-left-color: $clr-primary;
}
