.preview {
  padding: 16px;
  background: $clr-gray-100;
}

.title {
  color: $clr-gray-800;
}

.previewContent {
  padding: 16px;
  margin-top: 24px;
  background-color: $clr-white;
  border-radius: 8px;
  box-shadow: $ui-shadow-sm;
}
