.select {
  position: relative;
  display: inline-flex;

  .trigger {
  }

  .listPopup {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $clr-white;
  }

  // size
  &.sm .trigger {
    height: 32px;
    padding: 0 12px;
    font-size: 12px;
  }

  &.md .trigger {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }

  &.lg .trigger {
    height: 48px;
    padding: 0 24px;
    font-size: 16px;
  }
}
