.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  border-radius: 6px;
}

/* size */
.sm {
  padding: 4px;
}
.md {
  padding: 8px;
}
.lg {
  padding: 16px;
}

/* variant */
.primary {
  background: $primary;
  color: #fff;
}
.outlined {
  border: 1px solid $primary;
  color: $primary;
}

/* state */
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
