.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
}

.mainContent {
  overflow: hidden;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 250px 1fr 300px;
}
