.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 16px 32px;
  background-color: $clr-primary;
  color: $clr-white;
}

.mainContent {
  overflow: hidden;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 240px 1fr 320px;
}
